
{
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 100
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "0001-01-01T00:00:00Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {
                "EnvironmentVariables": [
                    "{{if .PromptEnv}}{{.PromptEnv}}{{else}}PROMPT=Default prompt for phi2-demo{{end}}",
                    "{{if .SeedEnv}}{{.SeedEnv}}{{else}}RANDOM_SEED=42{{end}}"
                ],
                "Entrypoint": [
                    "python3",
                    "/usr/src/app/loadmodel.py",
                    "{{if .Prompt}}{{.Prompt}}{{else}}Default prompt for phi2-demo{{end}}"
                ],
                "Image": "hub.docker.com/noryev/phi2-demo:latest"
            },
            "Engine": "Docker",
            "Language": {
                "JobContext": {}
            },
            "Network": {
                "Type": "None"
            },
            "PublisherSpec": {
                "Type": "Estuary"
            },
            "Resources": {
                "GPU": "1"
            },
            "Timeout": 1800,
            "Verifier": "Noop",
            "inputs": [],
            "outputs": [
                {
                    "Name": "output",
                    "StorageSource": "IPFS",
                    "path": "/output"
                }
            ]
        }
    }
}
