{
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 100
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "2023-01-01T00:00:00Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {
                "Image": "noryev/phi2-demo:latest",
                "Entrypoint": ["bash", "-c", "python3 /usr/src/app/loadmodel.py 2>/dev/null"],
                "EnvironmentVariables": [
                    "MODEL_PATH=/usr/src/app/model",
                    "ANOTHER_ENV_VAR=value",
                    "OUTPUT_DIR=/outputs/",
                    "HF_HUB_OFFLINE=1"
                ]
            },
            "Engine": "Docker",
            "Network": {
                "Type": "None"
            },
            "Resources": {
                "GPU": "1"
            },
            "Timeout": 1800,
            "Verifier": "Noop",
            "outputs": [
                {
                    "Name": "outputs",
                    "path": "/outputs/"
                }
            ],
            "PublisherSpec": {
                "Type": "ipfs"
            }
        }
    }
}
